{% extends 'website/base.html' %}
{% load static %}
{% block title %}Atores{% endblock title %}
{% block content %}
<body class="atorb">
    <div class="mainat container-fluid">
            <div class="row pe-5 align-items-center">
                <img class="imagens" src="{% static atorimg %}" class="imgator img-fluid rounded">
                <p class="conteudos col-md-6">{{ nome }} <br>{{ conteudo|safe }} <br> {{ posicao }} <br> {{ nascimento }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock content%}