{% extends 'website/base.html' %}
{% load static %}
{% block title %}Atores{% endblock title %}
{% block content %}
<body class="atorb">
    <div class="mainat container-fluid">
            <div class="row pe-5 align-items-center">
                <img  url('{{ website.imagem.url }}') class="imgator img-fluid rounded imagens">
                <p class="conteudos col-md-6">{{ atores.nome }} <br>{{ atores.conteudo|safe }} <br> {{ atores.personagem }} <br> {{ atores.nascimento }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock content%}