@font-face {
    font-family: 'AppleGaramond-Light';
    src: url('../css/AppleGaramond-Light.ttf') format('truetype');
}

body{
    font-family: 'AppleGaramond-Light';
    background-color:black
}

.hero-section{
    background-color: black;
}

.logo{
    width: 200px;
    height:100px;
}

.item{
    color: rgb(0, 0, 0);
}

.navbar{
    font-size: 20px;
    background-color:#f4f1e6 ;
}

footer div{
    height: 55px;
    background-color: rgb(111, 47, 33);
}

.main{
    font-size: 18px;
    background-color: #2e4a62;
    color: white;
}

.paragrafo{
    font-size: 20px;
    color: white;
}

.sobre{
    background-color: #2e4a62;
    height: calc(100vh - 171px);
    padding-top: 110px;
}

.elenco{
    background-color: #2e4a62;
}

.info{
    color: #f4f1e6;

}

.imgator{
    width: 220px;
}

.ator-nome, .ator-idade{
    color: white;
}

.elenco a{
    text-decoration: none;
}

.imagens{
    width: 600px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.conteudos{
    font-size: 20px;
    margin-top: 300px;
}

.mainat{
    height: 100vh;
    background-color: #2e4a62;
    color: white;
}


.parag{
    font-size: 22px;
}
