@font-face {
    font-family: 'AppleGaramond-Light';
    src: url('../css/AppleGaramond-Light.ttf') format('truetype');
}

body{
    font-family: 'AppleGaramond-Light';
    background-color: black;
}

.logo{
    width: 200px;
    height:100px;
}

.item{
    color: white;
}

.navbar{
    font-size: 20px;
}

footer div{
    height: 50px;
    background-color: rgb(111, 47, 33);
}